PUBLIC_HOST=http://localhost
PORT=8080
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=it210
JWT_SECRET=IS-IT_REALL-A_SECRET-?~JWT-NOT_SO-SURE
JWT_EXP=604800  # 7 days in seconds